<% provide(:title, "Home") %>
<html>
  <head>
    <title>Welcome to Redmart</title>
  </head>
  <body>
    <div class="center jumbotron">
    <h1>StaticPages#home</h1>
    <p>Home page of Travelado</p>
    <%= link_to "Sign up now!", signup_path, class: "btn btn-lg btn-primary" %>
</div>
  </body>
</html>
