<% provide(:title, "Home") %>
  <head>
    <title>Welcome to TravelMart</title>
  </head>
  <body>
    <% if logged_in? %>

  </div>
<% else %>
    <div class="center jumbotron">
    <h1>Welcome to TravelMart</h1>
    <p>Home page of TravelMart</p>
    <%= link_to "Sign up now!", signup_path, class: "btn btn-lg btn-primary" %>
</div>
  </body>
  <% end %>
