<footer class="footer">
  <small>
    This website is created by
    by <a href="http://www.facebook.com/edisonsim">Edison Sim</a>
  </small>
  <nav>
    <ul>
      <li><%= link_to "About", about_path %></li>
      <li><%= link_to "Contact", '#' %></li>
      <li><a href="http://news.railstutorial.org/">News</a></li>
    </ul>
  </nav>
</footer>
